body {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: #fffcf5;
	text-align:center;
}

#main {
	display:inline-block;
	max-width:750px;
	margin-top:50px;
	
}

#icon {
	display: inline-block;
	width:90%;
}

#text {
	margin: 20px 5px 0 5px;
	background: #eb6877;
	color: #ffffff;
	text-align:center;
	padding: 10px 0 10px 0;
	font-size:16px;
}

a {
	color: #ffffff;
	text-decoration: underline;
}
