@IMPORT url("../../../base/css/reset.css");

#container {
	width:398px;
	background:#f2f2f2;
	margin:0 auto 0 auto;
	border-radius:5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

.zt-container{
	width:384px;
	height:576px;
	text-align:center;
	position:relative;
	overflow:hidden;
	margin:0 auto 0 auto;
	background: #f2f2f2;
	border:7px solid #f2f2f2;
	border-top-width:10px;
	
	border-radius:5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	cursor: pointer;
}

#zt-opt-layout{
	position:absolute;
	height:61px;
	width:116px;
	_width:136px;
	text-align:center;
	
	left:50%;
	margin-left:-58px;
	margin-top:-59px;
	z-index:9;
	
}

#zt-tip,#zt-opt-btns-layout {
	margin:0;
	padding:0;
	background:#46454d;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-webkit-opacity: 0.6;  
	opacity: 0.6;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	
}

#zt-tip {
	position:absolute;
	width: 80px;
	text-align: center;
	height: 20px;
	background:#46454d;
	margin-bottom: 5px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	margin-left:18px;
	*margin-left:-36px;
	font-size: 12px;
	display: none;
}
#zt-opt-btns-layout{
	margin-top:25px;
	width:100%;
	height:26px;
	padding:5px 0 5px 0;	
	border-radius:5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

#zt-desc {
	width:384px;
	position:absolute;
	display:inline-block;
	text-align:left;
	margin:10px 0 0 0;
	margin-left:7px;
	background-color:#46454d;
	filter:alpha(opacity=60);
	opacity:0.6;
	-moz-opacity:0.6;
	-webkit-opacity: 0.6;  
	z-index: 8;
	padding: 0;
	color: #fff;
	font-size: 14px;
}

#zt-info-div {
	display: inline-block;
	float:left;
	padding-left:70px;
}

#zt-desc-text {
	padding:0 15px 0 0;
	font-size: 12px;
	min-height:30px;
}

img.zt-current{
	position:absolute;
}

img.zt-temp{
	position:absolute;
	width:56px;
	height:56px;
	border:2px hidden #fff;
	filter:alpha(opacity=10);
	-moz-opacity:0.1;
	-webkit-opacity: 0.1;  
	opacity: 0.1;
	z-index:7;
	border-radius:80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	box-shadow:1px 1px 2px rgba(0,0,0,0.7);
}

.zt-tag{
	position:absolute;
	z-index:8;
	text-align: center;
	background:transparent top left;
	width:56px;
	height:56px;
	display:inline-block;
	cursor:pointer;
	border-radius:80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
}

.zt-tag-border {
	position:absolute;
	left:0px;
	top:0px;
	border-radius:80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border:2px solid #ffffff;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-webkit-opacity: 0.4;  
	opacity: 0.4;
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.7);
	box-shadow:1px 1px 2px rgba(0,0,0,0.7);
}


.zt-tag-img {
	position:absolute;
	left:2px;
	top:2px;
	border-radius:80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-webkit-opacity: 0.4;  
	opacity: 0.4;
	
}

.zt-tag-img-highlight {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-webkit-opacity: 1;  
	opacity: 1;
	z-index:999;
}

.zt-arrow{
	position:absolute;
	display:inline-block;
	left:2px;
	top:2px;
	border-radius:80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
}


.zt-opt-btn{
	display:inline-block;
	cursor:pointer;
	width:25px;
	height:25px;
	margin-left:10px;
	float:left;
}

#zt-first-btn {
	background: url("../images/icons.png");
	background-position: 0px -125px;
	
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='../htworld/web/images/ie6/btn_first.png' );
}

#zt-first-btn:hover {
	background-position: 0px -153px;
}

#zt-hide-tag-btn {
	background: url("../images/icons.png");
	background-position: -32px -125px;
	
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='../htworld/web/images/ie6/btn_hide.png' );
}

#zt-hide-tag-btn:hover {
	background-position: -32px -153px;
}

#zt-show-tag-btn {
	background: url("../images/icons.png");
	background-position: -63px -125px;
	display: none;
	
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='../htworld/web/images/ie6/btn_show.png' );
}
#zt-show-tag-btn:hover {
	background-position: -63px -153px;	
}

#zt-tag-back {
	background: url("../images/icons.png");
	background-position: -91px -125px;
	
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='../htworld/web/images/ie6/btn_prev.png' );
}

#zt-tag-back:hover {
	background-position: -91px -153px;	
}

.zt-loading{
	position:absolute;
	width:50px;
	height:50px;
	top:50%;
	left:50%;
	margin:-25px 0 0 -25px;
	opacity:0.8;
	z-index:99999;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background:#fff url(../../common/images/ajax-loader.gif) no-repeat center center;
}

#zt-author-div table {
	width: 100%;
	line-height: 22px;
}
#zt-author-name {
	float: left;
}
#zt-click-time-label {
	color:#b2b2b2;
	font-size: 12px;
	margin-top: 3px;
	color:#8eb7cd;
}
#zt-click-time-td {
	text-align: left;
	font-size:22px;
	color:#8eb7cd;
	padding-right: 15px;
	vertical-align: bottom;
	padding-top: 10px;
}
#zt-desc table {
	width: 100%;
}

#zt-desc table img {
	width: 40px;
	height:40px;
	padding:0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin: 0;
}

#zt-author-img-td {
	margin:0;
	width:40px;
	height:40px;
	padding: 15px 15px 0 15px;
	vertical-align: top;
}
#zt-desc-footer {
	text-align: right;
	height: 30px;
	vertical-align: text-top;
}

#zt-desc-footer-td #zt-share-time-wrapper {
	font-size: 12px;
	color: #B2B2B2;
	margin-right: 10px;
}

#zt-author-td {
	padding-top: 10px;
	width: 100%;
}
#zt-author-td p {
	border-bottom: 1px solid #B2B2B2;
	text-align: right;
	line-height: 22px;
}
#zt-click-time-td {
	vertical-align: bottom;
	line-height:22px;
	padding-bottom: 0;
}

#zt-desc-footer-td {
	text-align: right;
	color: #B2B2B2;
	font-size: 12px;
	height: 25px;
}
#zt-desc-text-td {
	padding-right: 15px;
	padding-top: 5px;
}

#zt-author-img-div,#zt-author-img-div img {
	width: 40px;
	height:40px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	
}

#zt-author-img-div {
	position:absolute;
	left:15px;
	top:15px;
	
}

#zt-author-div  {
	display:block;
	width:100%;
	height:25px;
	margin-top: 10px;
	margin-bottom: 5px;
}

#zt-share-time-span {
	color:#b2b2b2;
	font-size: 10px;	
	margin-left: 10px;
}
#zt-desc-header {
	display:inline-block;
	position:absolute;
	top:0;
	left:0;
	width:24px;
	height:15px;
	display:none;
}
#zt-header-arrow{
	width:15px;
	height:15px;
	margin-left:8px;
	cursor:pointer;
	background: url("../images/icons.png");
	background-position: -341px -137px;
	
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='../htworld/web/images/ie6/desc_arrow_right.png' );
}

#zt-header-arrow:hover {
	background-position: -323px -137px;
}

#zt-footer-arrow {
	display:inline-block;
	vertical-align:middle;
	width:15px;
	height:15px;
	cursor:pointer;
	background: url("../images/icons.png");
	background-position: -341px -122px;
	
	_background: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=noscale,src='../htworld/web/images/ie6/desc_arrow_left.png' );
}
#zt-footer-arrow:hover {
	background-position: -323px -122px;
}
