*{
	padding:0;
	margin:0;
}

body{
	padding:0;
	margin:0;
}

#main{
	width:100%;height:100%;
	margin: 0 auto;
}

.avatar-radius{
	-moz-border-radius:75px;
	-webkit-border-radius:75px;	
}
#head-user-info span{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;	
	
}
.user-info{
	background-color:#ecf0f3;
	color:#62707d;
	text-align:center;
	display: inline-block;
	padding: 8px 16px;
	margin-bottom: 8px;
	font-size: 24px;
	font-family: FZLTHJW;
}
.world-title-list{

}

.img-grid-style{
	width: 198px;
	height: 198px;
	margin:6px 0 0 6px; 
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
}

.span-user-data-desc{
	font-size: 22px;
	color: #b6bec6;
	font-family: FZLTHJW;
}

.span-user-data{
	font-size: 30px;
	color: #62707d;
	font-family: ArialMT Regular;
}

#user-data div{
	display: inline-block;
	vertical-align: top;
	width:32%;
	padding: 4px 0 10px 0;
}

#user-data span{
	width:100%;
	height:50%;
	text-align: center;
	display: block;
	margin-top: 6px;
}

#head{
	margin:auto;
	text-align: center;
}



#user-data{
	margin:auto;
	margin-top: 20px;
	border-bottom: 1px #d7dce0 solid ;
	border-top: 1px solid #d7dce0;
}

#user-pic{
	margin:auto;
	text-align: center;
	padding-top:8px;
	background-color: #f0f4f7;
}

#user-info-avatar{
	position: relative;
	width: 180px;
	height: 190px;
	display: inline-block;
	margin:0 auto;
}

#user-avatar{
	height: 150px;
	width: 150px;
	z-index: 1;
	position: absolute;
	left: 20px;
	top: 20px;
}

#user-avatar-mask{
	height: 152px;
	width: 152px;
	z-index: 999;
	position: absolute;
	left: 20px;
	top: 20px;
}

#head-user-info{
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
	text-align: left;
}

#user-info-concern-btn{
	display:block;
	width: 94%;
	background-color:#6abfde; 
	text-align: center;
	padding: 8px 0px;
	border: 2px #5caac7 solid;
	color: #ffffff;
	font-size: 26px;
	font-family: FZLTHJW;
}

#user-info-signature{
	text-align:left;
	display:block;
	font-size: 24px;
	color: #62707d; 
	padding-left: 20px;
}


#user-concernCount {
	border-left: 1px #d7dce0 solid;
	border-right: 1px #d7dce0 solid;
}

#div-propaganda{
	margin: auto;
	padding-top: 6px;
	background-color: #f0f4f7;
}


#download-wrap {
	margin:0 auto;
	bottom: 0;
	text-align: center;
	overflow:hidden;	
	font-family: FZLTHJW;
	background-color: rgba(255,255,255,0.9);
	padding-bottom:12px; 
}

#download-logo {
	width: auto;
	height: 80px;
	margin-top: 10px;
	margin-left: 14px;
	display: inline;
	float: left;
}

#download-close {
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: pointer;
	vertical-align: center;
	float: right;
	margin:36px 20px 0 0;
}

#download-tip {
	background: #3a97d0;
	width: 200px;
	height: 60px;
	color: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	font-size: 24px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	line-height: 60px;
	float: right;
	margin: 22px 22px 0 0;
}

#slogan{
	display:inline-block;
	vertical-align: top;
	padding-left: 16px;
	padding-top: 10px;
	float: left;
}

#zhitu-name{
	display: block;
	font-size: 30px;
	color: #373e46;
	margin-top: 6px;
	text-align: left;
}

#zhitu-slogan{
	display: block;
	font-size: 24px;
	color: #959da5;
	margin-top: 6px;
}