html,body {
	font-family:Microsoft YaHei,Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px auto 0 auto;
	background: #f8f9fa;
	color: #373e46;
	font-size: 14px;
	text-decoration: none;
}

#loading {
	width: 80px;
	height: 40px;
	position: absolute;
	text-align:center;
	vertical-align:middle;
	left: 50%;
	top: 50%;
	margin-left:-40px;
}

.avatar-wrap {
	width: 34px;
	height: 34px;
	display: inline-block;
}

.avatar-wrap .avatar {
	width:32px;
	height:32px;
	position: absolute;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

.avatar-wrap .border {
	width:30px;
	height:30px;
	position: absolute;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	/*border: 1px solid #d7dce0;*/
}

.avatar-wrap .verify {
	width:17px;
	height:17px;
	margin:18px 0 0 20px;
	position: absolute;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

#main-box {
	width: 100%;
	height: 100%;
	display: none;
}

#main-box #world {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	background: #15191a;
}

#user {
	height:20px;
	width:100%;
}

#world-desc {
	margin-top:17px;
	padding:0 10px 0 10px;
	line-height: 25px;
	display: none;
}

#user .avatar-wrap {
	margin-left:10px;
	margin-top:11px;
}

#user {
	height: 54px;
}

#user #user-name-wrap {
	color: #3a98d0;
	font-size:14px;
	display: inline-block;
	position: absolute;
	left:52px;
	top:11px;
	margin-right:80px;
}

#user #user-name {
	height: 16px;
	overflow: hidden;
}

#user #user-verify{
	display: none;
}

#user #count-wrap {
	float:right;
	margin-top:11px;
	margin-right:10px;
	font-size:11px;
	color: #b6bec6;
	line-height:18px;
	text-align: right;
	vertical-align: middle;
}

#user #location-wrap {
	font-size:11px;
	color: #b6bec6;
	margin-top:4px;
	display: none;
}

#location-wrap img{
	width:10px;
	height:10px;
	vertical-align: middle;
	margin-bottom:3px;
}
#btn-wrap {
	padding:0 10px 0 10px;
	margin-top:15px;
}

#btn-wrap .opt-btn {
	min-width:46px;
	height:24px;
	padding:0 4px 0 4px;
	border:1px solid #e8ecf0;
	display: inline-block;
	border-radius: 2x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-right:6px;
	background: #ffffff;
	line-height: 24px;
	color: #b6bec6;
	text-align:center;
	font-size:14px;
	display: inline-block;
	text-decoration: none;
}

#btn-wrap .opt-btn img {
	width:15px;
	height:15px;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right:3px;
}

#share-btn {
	float:right;
	margin-right:0px !important;
}

#like-users-wrap {
	width:100%;
	margin-top:15px;
	line-height: 34px;
	height:34px;
	overflow: none;
	display: none;
}

#like-users-wrap #liked-users {
	margin-left:10px;
	display: inline-block;
}

#like-users-wrap .avatar-wrap {
	width: 27px;
	height: 27px;
	display: inline-block;
	margin-right:4px;
}

#like-users-wrap .avatar-wrap .avatar {
	width:25px;
	height:25px;
}

#like-users-wrap .avatar-wrap .border {
	width:23px;
	height:23px;
}

#like-users-wrap .verify {
	width:12px;
	height:12px;
	margin:15px 0 0 18px;
}

#like-users-wrap .like-count {
	background:#ffffff;
	border:1px solid #d7dce0;
	display:inline-block;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	float:right;
	padding:0 10px 0 10px;
	font-size:12px;
	color: #62707d;
	vertical-align: middle;
	line-height: 24px;
	min-width: 8px;
	text-align: center;
	margin-top:0px;
	position:absolute;
	right:10px;
	display: inline-block;
}

#label-wrap {
	padding:10px 10px 0 10px;
	display: none;
}

#label-name {
	width:40px;
	color:#b6bec6;
	display: inline-block;
	position: absolute;
	height: 27px;
	line-height: 20px;
	font-size:13px;
}

#labels {
	margin-left:36px;
	min-height:18px;
}

#labels .label {
	height:14px;
	border:1px solid #e4e8eb;
	display: inline-block;
	border-radius: 2x;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	margin-right:3px;
	background: #ecf0f3;
	padding:3px 5px;
	line-height: 14px;
	margin-bottom: 4px;
	color: #62707d;
	font-size: 13px;
}
#labels .channel {
	color: #3a98d0;
}

#channel-wrap {
	padding:0 10px 0 10px;
	margin-top: 15px;
	color: #b6bec6;
	display: none;
}

#channel-title {
	font-size: 13px;
}

#channel-info {
	margin-top:10px;
}

#channel-desc-wrap {
	margin-left: 10px;
	text-align: left;
	margin-left:90px;
	min-height:40px;939205
}

#channel-banner-wrap {
	width:80px;
	height:40px;
	display: inline-block;
	position: absolute;
}

#channel-banner {
	width:80px;
	height:100%;
}

#channel-name {
	color:#3a98d0;
}

#channel-desc {
	font-size: 13px;
	margin-top:6px;
}

.dividing-line {
	height:7px;
	background: #edeff1;
	border-top: 1px solid #d7dce0;
	border-bottom: 1px solid #d7dce0;
	margin-top: 16px;
	margin-bottom:15px;
}

#comment-wrap {
	padding:0px;
	display: none;
}

.comment .avatar-wrap {
	margin-left:10px;
	position: absolute;
}
.comment .comment-content-wrap {
	display: inline-block; width:100%;
}

.comment .comment-user-name-wrap {
	margin-left:50px;
	color: #373e46;
}

.comment .comment-user-name {
}

.comment .comment-date {
	margin-right: 10px;
	float:right;
	color: #b6bec6;
	font-size: 12px;
}

.comment-content-wrap .comment-content {
	margin-left:50px;
	margin-top:2px;
	color: #62707d;
	font-size: 13px;
	margin-right:10px;
	line-height: 18px;
	margin-bottom:18px;
}

.comment .comment-dividing {
	margin-left:50px;
	margin-right:10px;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: 1px solid #e6ebef;
	margin-bottom:15px;
}

#comment-fetch-btn-wrap {
	text-align: center;
	height:24px;
	margin-bottom:20px;
}
#comment-fetch-btn {
    width:80%;
	height: 24px;
	line-height: 24px;
	border:1px solid #e4e8eb;
    border-radius: 2x;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #ecf0f3;
    color: #62707d;
    font-size: 13px;
    position:absolute;
    left:50%;
    margin-left:-40%;
    text-align: center;
    
}

#comment-fetch-loading {
	left:50%;
	margin-left:-8px;
	display: inline-block;
	position: absolute;
	left:50%;
	margin-top:12px;
}


#superb-wrap {
	display: none;
}

#superb-wrap .dividing-line {
	margin-top:10px;	
}

#superb-title {
	margin-left:10px;
	margin-bottom:10px;
	color: #b6bec6;
	text-align: left;
}
#superbs {
	padding:5px;
	text-align: center;
}
.superb {
	margin:2px 2px 2px 2px;
	display: inline-block;
}
.superb img {
	border: none;
}

.zt-loading {
	bottom: 0px;
	width:100%;
	height:4px;
	background: #e6e6e6;
	position: absolute;
	z-index: 9999;
}
.zt-progress {
	background: #fddd31;
	height:100%;
	width:20%;
}
.zt-title img{
	width:100%;
}

